{% extends "AppPreEntreg3/padre.html" %}

{% load static %}

{% block BloqueCambiante %}

<!--Aca va lo que cambia, y lo asociado a está vista -->
    <section>
    <h2>¡Hola!</h2>
    <p>Mi nombre es Diego. Me intriga adentrarme en el mundo de la programación, este es mi primer curso de python en desarrollo backend aunque ya hice un curso de desarrollo web</p>
    
    <p>Cuento con una breve experiencia en programación en HTML CSS SASS JS , SQP y Python. Pero nada muy complejo.</p>
    
    <p>En mi página web, compartiré contenido relacionado con una página de ropa para mi mejor amigo, Miqueas.</p>
    
    <p>No dudes en explorar la tienda y contactarme si tienes alguna pregunta o sugerencia.</p>
  </section>

  <footer>
    <b>Contacto:</b> diegoleonelgonzalez26@gmail.com
  </footer>

{% endblock %}